@import "styles.css";

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border: thin solid var(--textColorPrimary);
  border-radius: 0.8rem;
  > header {
    width: 100%;
    background-color: var(--backgroundColorSecondary);
    color: var(--textColorCardHeader);
    margin: 0 -0.5rem 0.5rem -0.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: left;
  }
  > p {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
  }
}
