@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: var(--backgroundColorSecondary);
  color: var(--textColorSecondary);
}

span {
  font-weight: bold;
}

header.header {
  background-color: var(--backgroundColorSecondary);
  color: var(--textColorCardHeader);
  text-align: center;
  padding: 0.5rem;
}

nav {
  padding: 0 0 0.5rem 1rem;
  background-color: var(--backgroundColorTertiary);

  > ul {
    list-style-type: none;
  }
  > ul > li > a {
    text-decoration: none;
    color: var(--textColorSecondary);
  }
  > ul > li > a.selected {
    font-size: 1.2rem;
    color: var(--textColorNavActive);
    border-bottom: 0.1rem solid var(--textColorNavActive);
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border: thin solid var(--textColorPrimary);
  border-radius: 0.8rem;
  > header {
    width: 100%;
    background-color: var(--backgroundColorSecondary);
    color: var(--textColorCardHeader);
    margin: 0 -0.5rem 0.5rem -0.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: left;
    font-size: 1.2rem;
  }
}
p {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-container {
  width: 100%;
}

@media (min-width: 768px) {
  header.header {
    text-align: left;
  }
  nav {
    > ul > li {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }
  .movie-card {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .movie-card > header {
    flex: 1 0 100%;
  }

  .image-container {
    width: auto;
  }

  .text-container {
    flex: 1;
    width: auto;
  }
}
